 /* UTILITIES */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
    letter-spacing: 2px;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
  }
  
  /* NAVBAR STYLING STARTS */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
  
  }
  
  .nav-links a {
    color: black;
  
  }
  
  /* LOGO */
  
  
  ul {
    margin-left: 12rem;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 4em;
    font-size: 15px;
  }
  
  .menu li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  
  
  /* RESPONSIVE NAVBAR MENU STARTS */
  
  /* CHECKBOX HACK */
  
  input[type=checkbox] {
    display: none;
  }
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* RIGHT LOGO */
  
  .mainLogo {
    display: flex;
    margin-right: 2rem;
  }
  
  .mainLogo a {
    color: black;
    padding-right: 1rem;
  }
  
  .mainLogo a:nth-child(2) {
    font-size: 1.2rem;
  }
  
  .circle {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
  }
  
  /* APPLYING MEDIA QUERIES */
  
  
  @media (max-width: 1186px) {
    .menu {
        gap: 2em;
    }
  
    ul {
        margin-left: 9rem;
    }
  }
  
  
  @media (max-width: 989px) {
  
    .menu {
        gap: 1em;
    }
  
    ul {
        margin-left: 2rem;
    }
  }
  
  
  @media (max-width: 871px) {
    .menu {
        display: none;
        position: absolute;
        background-color: white;
        z-index: 1;
        right: 0;
        left: 0;
        text-align: center;
        height: 100vh;
    }
  
    .menu li {
        margin: 2rem;
        font-size: large;
        font-weight: bold;
        letter-spacing: 2px;
    }
  
    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }
  
    .menu li+li {
        margin-top: 12px;
    }
  
    input[type=checkbox]:checked~.menu {
        display: block;
    }
  
    .hamburger {
        display: block;
    }
  
  }
  
  
  /* SECTION STYLING STARTS*/
  
  section {
    background-image: linear-gradient(to right, #ff85a8, #ffcd68);
    width: 100%;
    height: 90vh;
    margin-top: 5rem;
  }
  
  /* CONTAINER */
  
  .container {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  
  /* CONTAINER IMAGE */
  
  .container img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }
  
  /* CONTAINER TEXT */
  
  .container-text {
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: rgba(241, 110, 132, .7);
    width: 40%;
    color: white;
    overflow: hidden;
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif
  }
  
  /*CONTAINER H1  */
  
  .container-text h1 {
    font-size: 2rem;
    letter-spacing: 4px;
    margin-bottom: 0.5rem;
  }
  
  
  /*CONTAINER P  */
  
  .container p {
    letter-spacing: 1px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.919);
  }
  
  
  /* APPLYING MEDIA QUERIES */
  
  @media(max-width:976px) {
  
    .container-text h1 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
  }
  
  @media(max-width:827px) {
    section {
        width: 100%;
        height: auto;
    }
  
    .container-text {
        padding: 2rem;
    }
  
    .container-text h1 {
        font-size: 1rem;
        letter-spacing: 1px;
    }
  
    .container p {
        font-size: smaller;
        padding: 0;
        letter-spacing: normal;
    }
  }
  
  
  
  @media(max-width:552px) {
    .container-text {
        top: 15%;
        width: 60%;
  
        padding: 1rem;
    }
  
    .container-text h1 {
        font-size: 1rem;
        letter-spacing: 1px;
    }
  
    .container p {
        font-size: 10px;
    }
  }
  
  @media(max-width:320px) {
    .container-text {
        width: 60%;
        height: 70%;
    }
  }
  
  /* FOOTER STYLING STARTS */
  
  
  footer {
    background-image: linear-gradient(to right, #ff85a8, #ffcd68);
    height: 110vh;
    width: 100%;
  }
  
  /* ORDER */
  
  .container2 .center {
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 5px;
    font-size: larger;
    font-family: sans-serif;
    padding-top: 6rem;
  }
  
  /* CONTAINER FOOD BOX */
  
  .cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    object-fit: cover;
    margin: 4rem auto;
    font-family: sans-serif;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 20%;
    cursor: pointer;
  
  }
  
  .card img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-top-right-radius: 25%;
  }
  
  .card .card-name {
    letter-spacing: 1px;
    margin: 0.5rem;
  }
  
  .card p {
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }
  
  
  /*footer button design*/
  
  .button {
    display: flex;
    justify-content: center;
  
  }
  
  .button button {
    width: 150px;
    height: 50px;
    background-color: pink;
    color: #191919;
    border-radius: 25px;
    border: none;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
  }
  
  
  /* media queries */
  
  @media (max-width:880px) {
    footer {
        height: 200vh;
    }
  
    .container2 .center {
        padding-top: 3rem;
    }
  
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 140vh;
    }
  
    .card img {
        height: 180px;
        width: 180px;
    }
  
    .card p {
        font-size: 12px;
    }
  
  
  }
  
  @media (max-width:480px) {
  
    .container2 .center {
        font-size: 10px;
    }
  
    .cards {
        margin-top: -1rem;
    }
  
    .card img {
        height: 140px;
        width: 140px;
    }
  
    .card p {
        font-size: 10px;
    }
  }